<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
	id="ws.yodas.interstellar" version="1.0" versionCode="1">
	<name>Interstellar</name>
	<description>TBD</description>
	<author email="interstellar@yodas.ws" href="https://github.com/YodasWs">Sam Grundman</author>
	<author email="" href="">Peter</author>
	<platform name="android">
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
		<splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
		<splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
	</platform>
	<platform name="browser"/>
	<platform name="windows"/>
	<platform name="ios">
		<splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
		<splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
		<splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
		<splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
		<splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
		<splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
		<splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
	</platform>
</widget>
